<div class="header">
	<ul class="nav nav-pills pull-right">
		<li class="active"><a ng-href="#">Home</a></li>
		<li><a ng-href="#">About</a></li>
		<li><a ng-href="#">Contact</a></li>
	</ul>
	<h3 class="text-muted">angular bootstrap boilerplate</h3>
</div>

<div class="jumbotron">
	<h1>Welcome</h1>
	<h2>Bootstrap glyphicons work : </h2>
	<p><span class="glyphicon glyphicon-plus"></span></p>
	<h2>UI Bootstrap works too : </h2>
	<p><a popover="{{dynamicPopover}}" popover-title="{{dynamicPopoverTitle}}" class="btn btn-lg btn-success">Test me!</a></p>
</div>

<div class="row marketing">
	<h4>HTML5 Boilerplate</h4>
	<p>
		HTML5 Boilerplate is a professional front-end template for building fast, robust, and adaptable web apps or sites.
	</p>

	<h4>Angular</h4>
	<p>
		AngularJS is a toolset for building the framework most suited to your application development.
	</p>

	<h4>Karma</h4>
	<p>Spectacular Test Runner for JavaScript.</p>
</div>

<div class="footer">
	<p>Have fun</p>
</div>
